a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
  }
  
  ul {
    text-align: center;
  }
  
  li {
    padding-top: 20px;
    display: inline-block;
    font-size: larger;
    font-weight: bold;
    padding-right: 9px;
  }
  